__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Code Editors
.vscode
.idea

# Code linters
.mypy_cache

# Datasets and preprocessed files
save/
logs/
results/


# Checkpoints directory
checkpoints/

# IPython Notebook
.ipynb_checkpoints

# virtualenv
venv/
ENV/


# VLN_Bert
maskrcnn_benchmark_master/
save/multitask_model/
maskrcnn_benchmark_master/
#tools/refer/

# Data src
data_sample
json_data.json
json_token_count.json
short_json_data.json
DataLoader.pt
DataLoader_old.pt
DataLoaderActSelection.pt

data/data_sample

